

@import "null.css";

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&family=Open+Sans:wght@300&display=swap');

@font-face{
	font-family:"ZenKakuGothicAntique";
	src: url("ZenKakuGothicAntique-Medium.woff2") format("woff2"), url("ZenKakuGothicAntique-Medium.woff") format("woff");
	font-weight: 400;
	font-style:normal;
	font-display:swap;
}


body {
	font-family: "Lato","cursive";
	font-size: 20px;
}
.main{
	line-height:normal;
}
 h1,h2,h3,h4{
	 text-align: center;
	 color:rgb(5, 185, 125);
	 font-family:"ZenKakuGothicAntique",sans-serif;
	 font-size: 50px;
	 text-shadow: 10px 10px 30px rgb(23, 24, 23);
	 text-transform: uppercase;
	 
 }
.main p>span{
	color:blueviolet;
	text-shadow: 10px 10px 30px rgb(17, 202, 72);
	text-decoration:underline;
}

ul>li{
	color: burlywood;
}
p{
	text-indent: 23px; 
    text-align: justify; 
}
